.demo-page-index__header {
  padding-top: 20px;
}

.demo-page-index__company-logo {
  width: 200px;
  height: 40px;
}

.demo-page-index__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: inline-block;
  border: none;
  margin-left: 12px;
  font-size: 28px;
}

.demo-page-index__title-container {
  vertical-align: baseline;
  display: flex;
  align-items: flex-start;
}

.demo-page__main-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
